<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Ecommerce</title>
  <!-- Título que aparece en la pestaña del navegador -->
  <link rel="stylesheet" href="/styles.css">
    <!-- Vincula el archivo de estilos CSS -->
</head>
<body>
  {{{body}}}
</body>
</html>